#app {
  width: 100%;
  min-height: 100%;
  display: flex;
}

.wrapper {
  position: relative;
  width: 100%;
}

.container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 0 50px;

  @media only screen and (max-width: $lg) {
    width: 100%;
  }

  @media only screen and (max-width: $sm) {
    padding: 0 15px;
  }
}

.content-grid {
  width: 80%;
  margin: 0 auto;
  padding-top: 120px;

  @media only screen and (max-width: $xl) {
    width: auto;
    display: grid;
    grid-template-columns: 10fr 4fr;
    grid-template-areas: "content sidebar";
    grid-gap: 2rem;
  }

  @media only screen and (max-width: $md) {
    grid-template-columns: 1fr;
    grid-template-areas: "sidebar" "content";
  }
}

.main {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
  position: fixed;
  top: 80px;
  right: 0;
  min-width: 300px;
  height: calc(100% - 80px);
  padding: 40px 30px;
  border-left: 1px solid #f5f5f5;
  overflow: auto;
  background: #fff;

  @media only screen and (max-width: $xl) {
    min-width: 200px;
  }

  @media only screen and (max-width: $lg) {
    position: relative;
    padding: 40px 0 40px 40px;
    top: -40px;
  }

  @media only screen and (max-width: $md) {
    position: static;
    height: auto;
    padding: 0;
    border: none;
  }
}

.content {
  width: 100%;
}
