#app {
  width: 100%;
  min-height: 100%;
  display: flex;
}

.wrapper {
  position: relative;
  width: 100%;
}

.container {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 0 50px;

  @media only screen and (max-width: $lg) {
    width: 100%;
  }

  @media only screen and (max-width: $sm) {
    padding: 0 15px;
  }
}

.content-grid {
  width: 80%;
  margin: 0 auto;
  padding-top: 120px;

  @media only screen and (max-width: $xxl) {
    width: 70%;
    margin-left: 0;
  }

  @media only screen and (max-width: $lg) {
    width: 100%;
    margin-left: auto;
  }
}

.main {
  grid-area: content;
}

.sidebar {
  grid-area: sidebar;
  position: fixed;
  top: $headerHeight;
  right: 0;
  width: 300px;
  height: calc(100% - #{$headerHeight});
  padding: 40px 30px;
  border-left: 1px solid $borderColor2;
  overflow: auto;
  background: #fff;

  @media only screen and (max-width: $xl) {
    width: 250px;
  }

  @media only screen and (max-width: $lg) {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    margin-bottom: 1rem;
    border: none;
  }

  @media only screen and (max-width: $md) {
    position: static;
    height: auto;
    padding: 0;
    border: none;
  }
}

.content {
  width: 100%;
}
