.sidebar {
  a {
    color: $textColor;
  }
}

.search-box-wrapper {
  display: flex;
  flex-flow: row nowrap;
}

.nav-button {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid $colorAccent;
  width: 33px;
  max-width: 33px;
  min-width: 33px;
  height: 33px;
  margin-left: 1rem;
  border-radius: 50%;
  cursor: pointer;

  &:before, &:after {
    content: '';
    position: absolute;
    left: 50%;
    display: block;
    width: 5px;
    height: 5px;
    margin-left: -2.5px;
    border-radius: 50%;
    background-color: $colorAccent;
  }
  &:before {
    top: 5px;
    box-shadow: 0 8px 0 0px $colorAccent;
  }
  &:after {
    bottom: 5px;
  }
}

.search-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;

  &.has-suggestions {
    margin-bottom: 0;
  }

  input {
    width: 100%;
    padding: 5px;
    border: 1px solid $borderColor;
    border-radius: 3px;
    font-size: 1rem;
    line-height: normal;

    &::placeholder {
      font-style: italic;
      font-size: 0.8rem;
      line-height: normal;
    }
  }
}

.suggestions {
  width: 100%;
  margin: 0 0 10px 0;
  padding: 10px 0;
  list-style: none;
  border-bottom: 1px solid #e8e5e5;
}

.suggestion, .nav-item {
  a {
    display: block;
    padding: 5px 10px;
    border-radius: 3px;

    &:hover {
      background: #e5f3ff;
      text-decoration: none;
    }
  }

  &.focused a, .router-link-exact-active {
    background: #e5f3ff;
    text-decoration: none;
  }

  .item-count {
    font-size: .75rem;
  }
}

.suggestion {
  margin-bottom: 2px;
}

.suggestion-title {
  display: block;
  font-weight: bold;
  line-height: 1;
}

.suggestion-header {
  display: block;
  font-style: italic;
  font-size: 0.7rem;
}

.nav-item {
  margin-bottom: 3px;

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.nav-item-inline {
  display: inline-flex;
}