.main h1:first-of-type {
  line-height: 1;
}

.content-body {
  text-align: justify;
  font-size: 1.2rem;
  line-height: 1.8;

  h1, h2, h3, h4, h5, h6 {
    position: relative;
    left: -0.8em;
    padding-left: 0.8em;
    text-align: left;

    .header-anchor {
      position: absolute;
      left: 0;
      color: #ccc;
      visibility: hidden;

      &:hover {
        color: $colorAccent;
        text-decoration: none;
      }
    }

    &:hover .header-anchor, &:target .header-anchor {
      visibility: visible;
    }

    @media only screen and (max-width: $lg) {
      left: 0;
      padding-left: 0;

      .header-anchor {
        position: relative;
        visibility: visible;
        color: $colorAccent;
        text-decoration: none;
      }
    }
  }

  p, ul {
    margin-bottom: 2rem;
  }
}

.post-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  .post-item--large {
    grid-column: span 2;
  }
}

.post-item {
  display: block;
  margin-bottom: 2rem;

  .post-item-image {
    margin: 0 0 1rem 0;

    .image {
      margin-top: 0;
      margin-bottom: 0;
    }

    a {
      display: block;
    }
  }

  .post-meta {
    font-size: 0.8rem;
  }

  .post-date {
    margin-left: 1rem;
  }

  .post-excerpt {
    margin-top: 20px;
  }

  .post-title {
    margin-bottom: 0.5rem;

    h2 {
      line-height: 1;
    }
  }
}

.prev-next {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3rem;
  margin-top: 3rem;
  padding-top: 3rem;
  border-top: 1px solid $borderColor;

  @media only screen and (max-width: $sm) {
    grid-template-columns: 1fr;
    grid-row-gap: 1rem;
  }

  .prev, .next {
    a {
      display: flex;
      align-items: center;
      color: $textColor;

      &:hover {
        text-decoration: none;
      }

      h4 {
        margin-bottom: 0;
      }
    }

    img {
      max-width: 100px;
    }
  }

  .prev img {
    margin-right: 2rem;
  }

  .next a {
    text-align: right;

    img {
      margin-left: 2rem;
    }
  }
}

.center {
  text-align: center;

  h1, h2, h3, h4, h5, h6 {
    left: 0;
    padding-left: 0;
    text-align: center;
  }

  img {
    margin: 0 auto;
  }
}

.center-80, .center-50, .image {
  a {
    display: block;
  }
}

.center-80 {
  display: block;
  width: 80%;
  margin: 0 auto;
}

.center-50 {
  display: block;
  width: 50%;
  margin: 0 auto;
}

.image {
  margin: 4rem -4rem;

  @media only screen and (max-width: $lg) {
    margin-left: 0;
    margin-right: 0;
  }

  img {
    width: 100%;
  }

  @media only screen and (max-width: $sm) {
    margin-left: 0;
    margin-right: 0;
  }
}